@model WebApplication1.Models.Doktor

@{
    ViewBag.Title = "Delete";
}
<form class="btn-group">
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Sehirs/Index">Şehirler</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Ilces/Index">İlçeler</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Hastanes/Index">Hastaneler</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Brans/Index">Branşlar</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Doktors/Index">Doktorlar</button>
    <button style="width:217px" id="btn" class="btn btn-secondary" formaction="~/Giris/Index">Çıkış</button>
</form>

<br />
<br />

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brans.BransAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brans.BransAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoktorAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoktorAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoktorSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoktorSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" id="sillink" value="Sil" class="btn btn-default" /> 
            <br /><br />
        </div>
    }
</div>
